<?xml version="1.0" encoding="utf-8" ?>
<ScanImport03Mapping>
  
  <RecoTypeMappings>
    <RecoTypeMapping RecoTypeImport="77997_Crown" 		RecoType="AnatomicCrown"/>
    <RecoTypeMapping RecoTypeImport="77997_Crown_PFM" 	RecoType="Coping"/>
    <RecoTypeMapping RecoTypeImport="77997_3/4_Crown" 	RecoType="AnatomicInlay"/>
    <RecoTypeMapping RecoTypeImport="77997_3/4_Crown_PFM" RecoType="ReducedInlay"/>
    <RecoTypeMapping RecoTypeImport="77997_Inlay" 		RecoType="AnatomicInlay"/>
    <RecoTypeMapping RecoTypeImport="77997_Inlay_PFM" 	RecoType="ReducedInlay"/>
    <RecoTypeMapping RecoTypeImport="77997_Onlay" 		RecoType="AnatomicInlay"/>
    <RecoTypeMapping RecoTypeImport="77997_Onlay_PFM" 	RecoType="ReducedInlay"/>
    <RecoTypeMapping RecoTypeImport="77997_Veneer" 		RecoType="Veneer"/>
    <RecoTypeMapping RecoTypeImport="77997_Pontic" 		RecoType="AnatomicPontic"/>
    <RecoTypeMapping RecoTypeImport="77997_Pontic_PFM" 	RecoType="ReducedPontic"/>
    <RecoTypeMapping RecoTypeImport="77997_Temporary_Crown" 	RecoType="ProvisionalCrown"/>

    <RecoTypeMapping RecoTypeImport="55016_ToothElementType54" RecoType="AnatomicCrown"/>
    <RecoTypeMapping RecoTypeImport="55016_ToothElementType55" RecoType="Coping"/>
    <RecoTypeMapping RecoTypeImport="55016_ToothElementType56" RecoType="Coping"/>
    <RecoTypeMapping RecoTypeImport="55016_ToothElementType57" RecoType="AnatomicCrown"/>
    <RecoTypeMapping RecoTypeImport="55016_ToothElementType63" RecoType="AnatomicInlay"/>


    <RecoTypeMapping RecoTypeImport="Temporary_Crown" 	RecoType="ProvisionalCrown"/>
    <RecoTypeMapping RecoTypeImport="Veneer" 	RecoType="Veneer"/>
    <RecoTypeMapping RecoTypeImport="Configuration_01_IDCrownWax08" 	RecoType="Coping"/>
    <RecoTypeMapping RecoTypeImport="Configuration_01_ICCrownPonticWax10" 	RecoType="ReducedPontic"/>
    <RecoTypeMapping RecoTypeImport="Emax_Crown" 	RecoType="AnatomicCrown"/>
    <RecoTypeMapping RecoTypeImport="Configuration_01_IDCrownZircon10" 	RecoType="Coping"/>
    <RecoTypeMapping RecoTypeImport="Finer_Krone" 	RecoType="AnatomicCrown"/>
    <RecoTypeMapping RecoTypeImport="Anatomic_Zirkon_Krone" 	RecoType="AnatomicCrown"/>

    <RecoTypeMapping RecoTypeImport="Screw_implant_with_Crown" 	RecoType="AnatomicCrown"/>
    <RecoTypeMapping RecoTypeImport="Abutment" RecoType="AnatomicCrown"/>

    <RecoTypeMapping RecoTypeImport="Configuration_11_IDInlayZr10" RecoType="AnatomicInlay"/>
    <RecoTypeMapping RecoTypeImport="Configuration_01_IDInlayWax10" RecoType="AnatomicInlay"/>
  </RecoTypeMappings>
  
  <MaterialMappings>
    <MaterialMapping MaterialImport="77997_PreciousGold" 		Material="WAX"/>
    <MaterialMapping MaterialImport="77997_SemiPreciousGold" 	Material="WAX"/>
    <MaterialMapping MaterialImport="77997_Palladium" 		Material="WAX"/>
    <MaterialMapping MaterialImport="77997_TITAN" 			Material="Metal"/>
    <MaterialMapping MaterialImport="77997_NEM"			 	Material="Metal"/>
    <MaterialMapping MaterialImport="77997_ZIRCON" 			Material="ZI"/>
    <MaterialMapping MaterialImport="77997_e.max"			 	Material="Glass"/>
    <MaterialMapping MaterialImport="77997_Glasceramics"	 	Material="Glass"/>
    <MaterialMapping MaterialImport="77997_Composite" 		Material="COMP"/>
    <MaterialMapping MaterialImport="77997_VITA_Enamic" 		Material="Glass"/>
    <MaterialMapping MaterialImport="77997_LAVA_Ultimate" 	Material="Glass"/>
    <MaterialMapping MaterialImport="77997_Provisional" 		Material="COMP"/>
    <MaterialMapping MaterialImport="MetalPreciousWhite" 		Material="Metal"/>


    <MaterialMapping MaterialImport="Configuration_11Material1" Material="ZI"/>
    <MaterialMapping MaterialImport="55016_MarkII" Material="ZI"/>
  </MaterialMappings>

  <ImplantTypeMappings>
    <ImplantTypeMapping typeId="Abutment" ImplantType="CustomAbutment"/>
    <ImplantTypeMapping typeId="Screw_implant_with_Crown" ImplantType="WithoutAbutment"/>
  </ImplantTypeMappings>

  <ImplantTypeFallbacks>
    <ImplantTypeFallback TypeClass="Abutment" ImplantType="CustomAbutment"/>
  </ImplantTypeFallbacks>

  <DefaultImplantType>None</DefaultImplantType>

  <DefaultReconstruction>
    <RecoType>HealthyTooth</RecoType>
    <Material>Healthy</Material>
  </DefaultReconstruction>


  <ReconstructionTypeFallbacks>
    <ReconstructionTypeFallback TypeClass="Crown" RecoType="AnatomicCrown"/>
    <ReconstructionTypeFallback TypeClass="Inlay" RecoType="AnatomicInlay"/>
    <ReconstructionTypeFallback TypeClass="Veneer" RecoType="Veneer"/>
    <ReconstructionTypeFallback TypeClass="Abutment" RecoType="AnatomicCrown"/>
    <ReconstructionTypeFallback TypeClass="CrownPontic" RecoType="AnatomicPontic"/>
  </ReconstructionTypeFallbacks>
  <MaterialFallbacks>
    <MaterialFallback typeId="Anatomic_Zirkon_Krone" Material="ZI"/>
    <MaterialFallback typeId="Configuration_11_IDVeneerZr10" Material="ZI"/>
    <MaterialFallback typeId="Configuration_01_IDCrownZircon10" Material="ZI"/>
    <MaterialFallback typeId="Emax_Crown" Material="Glass"/>
    <MaterialFallback typeId="Configuration_01_IDCrownWax08" Material="Glass"/>
    <MaterialFallback typeId="Configuration_01_IDInlayWax10" Material="Glass"/>
  </MaterialFallbacks>

  <DefaultMaterial>ZI</DefaultMaterial>

</ScanImport03Mapping>
