<ImportMappings>
  <ReconstructionTypeMappings>   

    <ReconstructionTypeMapping>
      <TypeImport>crown</TypeImport>
      <DefaultMaterial>LZ</DefaultMaterial>
      <ReconstructionType>AnatomicCrown</ReconstructionType>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport>inlay</TypeImport>
      <ReconstructionType>AnatomicInlay</ReconstructionType>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport>onlay</TypeImport>
      <ReconstructionType>AnatomicInlay</ReconstructionType>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport>veneer</TypeImport>
      <ReconstructionType>Veneer</ReconstructionType>
    </ReconstructionTypeMapping>

  </ReconstructionTypeMappings>
  <DefaultReconstruction>
    <RecoType>Antagonist</RecoType>
    <Material>Healthy</Material>
  </DefaultReconstruction>

  <HealthyToothReconstruction>
    <RecoType>Antagonist</RecoType>
    <Material>Healthy</Material>
  </HealthyToothReconstruction>

  <ModelReconstructions>
    <Reconstruction Type="Healthy">
      <RecoType>Antagonist</RecoType>
      <Material>Healthy</Material>
    </Reconstruction>
    <Reconstruction Type="BiteSplint">
      <RecoType>BiteSplint</RecoType>
      <Material>PMMA</Material>
    </Reconstruction>
  </ModelReconstructions>

  <MaterialMappings>

    <MaterialMapping>
      <MaterialImport>Lava Ultimate® HT from 3M ESPE</MaterialImport>
      <Material>LU_3ax</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport>Lava Ultimate® LT from 3M ESPE</MaterialImport>
      <Material>LU_3ax</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport>Lava™ Ultimate Restorative</MaterialImport>
      <Material>LU_3ax</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport>Lava Paradigm MZ100® from 3M ESPE</MaterialImport>
      <Material>COMP</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport>Lava™ Zirconia</MaterialImport>
      <Material>LZ</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport>Lava™ Plus High Translucency Zirconia</MaterialImport>
      <Material>LP</Material>
    </MaterialMapping>

  </MaterialMappings>
</ImportMappings>
