<ScanImport04Mapping>
  <ModelToScanTypeMappings>
     <ModelToScanTypeMapping ModelType="prep_model" ScanType="Preparation"/>
     <ModelToScanTypeMapping ModelType="opposing_model" ScanType="Antagonist"/>
     <ModelToScanTypeMapping ModelType="buccal_model" ScanType="Registration"/>
     <ModelToScanTypeMapping ModelType="preop_model" ScanType="Situ"/>
     <ModelToScanTypeMapping ModelType="bite_trimmed_model" PreferenceOrder="1" Group="bite" ScanType="Antagonist"/>
     <ModelToScanTypeMapping ModelType="bite_model" PreferenceOrder="2" Group="bite" ScanType="Antagonist"/>
     <ModelToScanTypeMapping ModelType="ditched_model" ScanType="Preparation"/>
     <ModelToScanTypeMapping ModelType="scan_body_model" ScanType="ScanAbutment"/>

  </ModelToScanTypeMappings>

  <RecoTypeMappings>
    <RecoTypeMapping RecoTypeImport="Crown" RecoType="AnatomicCrown"/>
    <RecoTypeMapping RecoTypeImport="Inlay" RecoType="AnatomicInlay"/>
    <RecoTypeMapping RecoTypeImport="Onlay" RecoType="AnatomicInlay"/>
    <RecoTypeMapping RecoTypeImport="Veneer" RecoType="Veneer"/>
    <RecoTypeMapping RecoTypeImport="Pontic" RecoType="AnatomicPontic"/>
  </RecoTypeMappings>

  <MaterialMappings>
    <MaterialMapping>
      <MaterialImport>IPS e.max CAD LT</MaterialImport>
      <Material>COMP</Material>
    </MaterialMapping>
    <MaterialMapping>
      <MaterialImport>IPS e.max CAD HT</MaterialImport>
      <Material>COMP</Material>
    </MaterialMapping>
  </MaterialMappings>

</ScanImport04Mapping>
