<ImportMappings>
  <ReconstructionTypeMappings>

    <ReconstructionTypeMapping>
      <TypeImport value="Regular">1</TypeImport>
      <ReconstructionType>HealthyTooth</ReconstructionType>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport value="Crown">2</TypeImport>
      <ReconstructionType>AnatomicCrown</ReconstructionType>
      <ReconstructionTypeA>AnatomicCrown</ReconstructionTypeA>
      <ReconstructionTypeR>Coping</ReconstructionTypeR>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport value="Implant">4</TypeImport>
      <ReconstructionType>AnatomicCrown</ReconstructionType>
      <ReconstructionTypeA>AnatomicCrown</ReconstructionTypeA>
      <ReconstructionTypeR>Coping</ReconstructionTypeR>
      <ParamsToOverwrite>
        <TextualParam id="ImplantType" value="CustomAbutment"/>
      </ParamsToOverwrite>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport value="3/4 Crown">3</TypeImport>
      <ReconstructionType>AnatomicInlay</ReconstructionType>
      <ReconstructionTypeA>AnatomicInlay</ReconstructionTypeA>
      <ReconstructionTypeR>ReducedInlay</ReconstructionTypeR>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport value="Inlay">5</TypeImport>
      <ReconstructionType>AnatomicInlay</ReconstructionType>
      <ReconstructionTypeA>AnatomicInlay</ReconstructionTypeA>
      <ReconstructionTypeR>ReducedInlay</ReconstructionTypeR>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport value="Onlay">6</TypeImport>
      <ReconstructionType>AnatomicInlay</ReconstructionType>
      <ReconstructionTypeA>AnatomicInlay</ReconstructionTypeA>
      <ReconstructionTypeR>ReducedInlay</ReconstructionTypeR>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport value="Veneer">7</TypeImport>
      <ReconstructionType>AnatomicInlay</ReconstructionType>
      <ReconstructionTypeA>AnatomicInlay</ReconstructionTypeA>
      <ReconstructionTypeR>ReducedInlay</ReconstructionTypeR>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport value="Detachable">8</TypeImport>
      <!--<ReconstructionType>HealthyTooth</ReconstructionType>-->
      <ReconstructionType>PrimaryTelescope</ReconstructionType>
      <ReconstructionTypeA>PrimaryTelescope</ReconstructionTypeA>
      <ReconstructionTypeR>PrimaryTelescope</ReconstructionTypeR>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport value="Missing">9</TypeImport>
      <ReconstructionType>MissingTooth</ReconstructionType>
      <ReconstructionTypeA>AnatomicPontic</ReconstructionTypeA>
      <ReconstructionTypeR>ReducedPontic</ReconstructionTypeR>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport value="Skipped">10</TypeImport>
      <ReconstructionType>MissingTooth</ReconstructionType>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport value="Deciduous">11</TypeImport>
      <ReconstructionType>HealthyTooth</ReconstructionType>
    </ReconstructionTypeMapping>

    <ReconstructionTypeMapping>
      <TypeImport value="Scan Body">12</TypeImport>
      <ReconstructionType>AnatomicCrown</ReconstructionType>
      <ReconstructionTypeA>AnatomicCrown</ReconstructionTypeA>
      <ReconstructionTypeR>Coping</ReconstructionTypeR>
      <!--<ParamsToOverwrite>
        <TextualParam id="ImplantType" value="None"/>
      </ParamsToOverwrite>-->
    </ReconstructionTypeMapping>

  </ReconstructionTypeMappings>

  <MaterialMappings>
    <MaterialMapping>
      <MaterialImport value="Alumina: Lab Preference">16</MaterialImport>
      <Material>None</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Composite: Lab Preference">17</MaterialImport>
      <Material>COMP</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Full Gold White">30</MaterialImport>
      <Material>PMMA</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Full Gold Yellow">15</MaterialImport>
      <Material>PMMA</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Ivoclar IPS e.max">26</MaterialImport>
      <Material>COMP</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Ivoclar IPS e.max CAD">35</MaterialImport>
      <Material>COMP</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="PFM: 98% Gold (Captek)">10</MaterialImport>
      <Material>PMMA</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="PFM: Base Metal">14</MaterialImport>
      <Material>NP_L</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="PFM: High Noble White">7</MaterialImport>
      <Material>PMMA</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="PFM: High Noble Yellow">1</MaterialImport>
      <Material>PMMA</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="PFM: Semi-Precious">5</MaterialImport>
      <Material>PMMA</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Pressable Ceramics: Lab Preference">9</MaterialImport>
      <Material>PMMA</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Straumann Coron">34</MaterialImport>
      <Material>NP_L</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Straumann IPS e.max CAD">25</MaterialImport>
      <Material>COMP</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Straumann Polyamide">29</MaterialImport>
      <Material>COMP</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Straumann Polycon ae">27</MaterialImport>
      <Material>COMP</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Straumann Polycon cast">28</MaterialImport>
      <Material>PMMA</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Straumann Ticon">33</MaterialImport>
      <Material>NP</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Zirconia: Straumann Zerion">24</MaterialImport>
      <Material>ZI</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Zirconia: Lab Preference">12</MaterialImport>
      <Material>ZI</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Zirconia: BruxZir">36</MaterialImport>
      <Material>ZI</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Zirconia: Cercon">23</MaterialImport>
      <Material>ZI</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Zirconia: Everest">22</MaterialImport>
      <Material>ZI</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Zirconia: LAVA">19</MaterialImport>
      <Material>ZI</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Zirconia: Prismatic">20</MaterialImport>
      <Material>ZI</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Zirconia: Procera">18</MaterialImport>
      <Material>ZI</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Zirconia: Zeno">21</MaterialImport>
      <Material>ZI</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Metal: Non-Precious">32</MaterialImport>
      <Material>NP_L</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Metal: Semi-Precious">31</MaterialImport>
      <Material>PMMA</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Procera">11</MaterialImport>
      <Material>None</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Wol-Ceram">13</MaterialImport>
      <Material>None</Material>
    </MaterialMapping>

    <MaterialMapping>
      <MaterialImport value="Straumann 3M ESPE Lava Ultimate HT">43</MaterialImport>
      <Material>ZI</Material>
    </MaterialMapping>


    <MaterialMapping>
      <MaterialImport value="Zirkonoxyd: Straumann zerion HT">48</MaterialImport>
      <Material>ZI</Material>
    </MaterialMapping>


  </MaterialMappings>

  <DefaultReconstruction>
    <RecoType>Antagonist</RecoType>
    <Material>Healthy</Material>
  </DefaultReconstruction>
<DefaultReconstructionMaterial>ZI</DefaultReconstructionMaterial>
  <AntagonistSettings id="AntagonistType">
    <Antagonist type="SingleJaw">RegisteredJaws</Antagonist>
    <Antagonist type="BothJaws">RegisteredJaws</Antagonist>
  </AntagonistSettings>

  <ReconstructionFromMaterialList>
    <ReconstructionFromMaterial default="A">16</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="A">17</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="A">30</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="A">15</ReconstructionFromMaterial>

    <ReconstructionFromMaterial default="A" ignoreToothColor="true">28</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="A" ignoreToothColor="true">35</ReconstructionFromMaterial>

    <ReconstructionFromMaterial default="R">10</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">14</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">7</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">1</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">5</ReconstructionFromMaterial>

    <ReconstructionFromMaterial default="A" ignoreToothColor="true">9</ReconstructionFromMaterial>

    <ReconstructionFromMaterial default="A" ignoreToothColor="true">25</ReconstructionFromMaterial>

    <ReconstructionFromMaterial default="A">29</ReconstructionFromMaterial>

    <ReconstructionFromMaterial default="A" ignoreToothColor="true">27</ReconstructionFromMaterial>

    <ReconstructionFromMaterial default="R">24</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">12</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">36</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">23</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">22</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">19</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">20</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">18</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">21</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="R">34</ReconstructionFromMaterial>
    <ReconstructionFromMaterial default="A">44</ReconstructionFromMaterial>

    <ReconstructionFromMaterial>11</ReconstructionFromMaterial>
    <ReconstructionFromMaterial>13</ReconstructionFromMaterial>

  </ReconstructionFromMaterialList>

</ImportMappings>
