<?xml version="1.0" encoding="utf-8"?>
<ApplicationSettingsProviderCAD>
  <DefaultToothLibrary>zirkonzahn</DefaultToothLibrary>
  <DefaultArticulatorLibrary>zirkonzahn</DefaultArticulatorLibrary>
  <NestingProductionSoftwareExecutable>C:\Zirkonzahn\fraesen\Zirkonzahn.Fraesen.exe</NestingProductionSoftwareExecutable>
  <MaterialBlockLibraryDir>D:\Zirkonzahn\MaterialBlocks</MaterialBlockLibraryDir>
  <MaterialBlockLibraryArchiveDir>C:\Zirkonzahn\MaterialBlocks_Archive</MaterialBlockLibraryArchiveDir>
  <NestingQueueDir>D:\ZirkonZahn\NestingQueueDir</NestingQueueDir>
</ApplicationSettingsProviderCAD>