<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="1" />
    </switches>
  </system.diagnostics-->
  
  <runtime>
    <!-- avoid using RyuJIT because of known bugs in Microsoft's code as of 2015-08-07 -->
    <useLegacyJit enabled="1" />
    
    <loadFromRemoteSources enabled="true"/>
    <generatePublisherEvidence enabled="false"/>

  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

</configuration>
